body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f4f8; /* Light pastel blue */
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px solid #d1e7dd; /* Light pastel green */
    padding: 20px;
    background: #ffffff; /* White */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    align-items: center;
}

.title {
    font-size: 32px;
    color: #495057; /* Dark pastel grey */
    margin-bottom: 20px;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.timer, .tasks {
    margin: 20px;
    flex: 1;
    min-width: 250px;
    text-align: center;
}

.timer h1 {
    font-size: 48px;
    margin: 0;
    text-align: center;
    color: #495057; /* Dark pastel grey */
}

.tasks ul {
    list-style: none;
    padding: 0;
}

.tasks li {
    margin: 10px 0;
    padding: 10px;
    background-color: #e2eafc; /* Light pastel blue */
    border-radius: 5px;
    color: #495057; /* Dark pastel grey */
}

.tasks form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.tasks input {
    margin-right: 10px;
    padding: 5px;
    font-size: 16px;
    flex: 1;
    border: 1px solid #d1e7dd; /* Light pastel green */
    border-radius: 5px;
}

.tasks button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #d1e7dd; /* Light pastel green */
    border: none;
    border-radius: 5px;
    color: #ffffff; /* White */
    cursor: pointer;
}

.tasks button:hover {
    background-color: #b2dfdb; /* Slightly darker pastel green */
}

@media (max-width: 600px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .timer, .tasks {
        margin: 10px 0;
        text-align: center;
    }

    .tasks form {
        flex-direction: column;
        align-items: stretch;
    }

    .tasks input {
        margin: 0 0 10px 0;
        width: 100%;
    }

    .tasks button {
        width: 100%;
    }
}
